@{
    ViewBag.Title = "Настройки";
}
@section styles{
    <style>
        #City ~ .menu .ps__rail-y {
            margin: 5px 0;
        }
        [data-tab=usertags] .ui.label{
            margin-bottom: 5px;
        }
    </style>
}
<div class="ui segment">
    <h2 class="ui dividing header">
        Настройки
    </h2>
    <div class="ui stackable grid">
        <div class="four wide column">
            <nav class="ui vertical pointing secondary tabs menu" role="tablist">
                <a class="item" data-tab="userprofile" role="tab">Профиль</a>
                <a class="item" data-tab="changeavatar" role="tab">Изменить аватар</a>
                <a class="item" data-tab="security" role="tab">Безопасность</a>
                <a class="item" data-tab="invite" role="tab">Приглашения</a>
                <a class="item" data-tab="externallinks" role="tab">Внешние ссылки</a>
                <a class="item" data-tab="notifications" role="tab">Уведомления</a>
                <a class="item" data-tab="usertags" role="tab">Теги</a>
            </nav>
        </div>
        <div class="twelve wide column">
            <div class="ui loading active tab" data-tab="userprofile" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="changeavatar" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="security" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="invite" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="externallinks" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="notifications" role="tabpanel"></div>
            <div class="ui loading tab" data-tab="usertags" role="tabpanel"></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/api")
    <script>
        $(function () {
            var tabs = new MiteTab('.ui.tabs.menu .item', '/user/settings', true);
            ViewHelper.disableFormSubmitting('form');
        });
    </script>
}
