@{
    ViewBag.Title = "Настройки";
}
@section styles{
    <style>
        #City ~ .menu .ps__rail-y {
            margin: 5px 0;
        }
    </style>
}
<div class="ui segment">
    <h2 class="ui dividing header">
        Настройки
    </h2>
    <nav class="ui stackable pointing secondary tabs menu" style="border: none">
        <a class="item" data-tab="userprofile">Профиль</a>
        <a class="item" data-tab="changeavatar">Изменить аватар</a>
        <a class="item" data-tab="security">Безопасность</a>
        <a class="item" data-tab="invite">Приглашения</a>
        <a class="item" data-tab="socialservices">Внешние сервисы</a>
        <a class="item" data-tab="notifications">Уведомления</a>
    </nav>
    <div class="ui loading active tab" data-tab="userprofile"></div>
    <div class="ui loading tab" data-tab="changeavatar"></div>
    <div class="ui loading tab" data-tab="security"></div>
    <div class="ui loading tab" data-tab="invite"></div>
    <div class="ui loading tab" data-tab="socialservices"></div>
    <div class="ui loading tab" data-tab="notifications"></div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/api")
    <script>
        $(function () {
            var tabs = new MiteTab('.ui.tabs.menu .item', '/user/settings', true);
            ViewHelper.disableFormSubmitting('form');
        });
    </script>
}
