
@{ 
    var changePassModel = new Mite.Models.ChangePassModel();
}
<div class="ui stackable grid">
    <div class="six wide column">
        @{Html.RenderPartial("_ChangePass", new Mite.Models.ChangePassModel());}
    </div>
    <div class="six wide column">
        @{Html.RenderAction("EmailSettings");}
    </div>
</div>