@using Mite.Helpers
@model Mite.Models.SocialLinksModel

<div class="ui grid">
    <div class="centered sixteen wide mobile ten wide tablet ten wide computer column" >
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ui form", id = "socialServicesForm" }))
        {
            @SocialServicesHelper.RenderSocialServiceInputs(Html, Model)
            <button type="button" class="ui primary button" onclick="updateSocialLinks()">Обновить</button>
            <div class="ui message" id="socialServicesMsg" hidden></div>
        }
    </div>
</div>
<script>
    function updateSocialLinks() {
        var $form = $('#socialServicesForm');
        var $msg = $('#socialServicesMsg');
        var $inputs = $('#socialServicesForm input[type="text"]');
        var isValid = true;

        $inputs.each(function (index, elem) {
            var val = elem.value;
            console.log('yeah');
            if (val.indexOf('https://') !== -1 || val.indexOf('http://') !== -1) {
                console.log('block');
                $msg.addClass('icon yellow');
                $msg.html('<i class="warning icon"></i>Вы вставили в одно из полей полную ссылку. Например, если ссылка на страницу ВКонтакте имеет следующий вид: https://vk.com/mitegroup, необходимо вставить в поле только mitegroup.');
                $msg.show();
                isValid = false;
                return false;
            }
        });
        if (!isValid)
            return;
        $form.addClass('loading');
        $.ajax({
            url: '@Url.Action("UpdateSocialServices")',
            type: 'post',
            data: $form.serialize(),
            success: function () {
                $msg.html('<p>Ссылки успешно обновлены</p>');
                $msg.addClass('green').removeClass('red');
                $msg.removeClass('yellow');
            },
            error: function () {
                $msg.html('<p>Ошибка!</p>');
                $msg.addClass('red').removeClass('green');
                $msg.removeClass('yellow');
            },
            complete: function () {
                $form.removeClass('loading');
                $msg.show();
            }
        });
    }
</script>