@using Mite.CodeData.Enums
@using Microsoft.AspNet.Identity
@model Mite.Models.DealModel

@if(Model.Status == DealStatuses.Dispute && Model.Moder != null && Model.Moder.Id == User.Identity.GetUserId())
{
    <h3 class="ui header">Разрешить спор</h3>
    <form class="ui form" id="dealForm">
        <div class="ui fluid buttons">
            <button class="ui primary button" type="button" onclick="DealsMvc.moderConfirm(this, '@Model.Id', false)">В пользу клиента</button>
            <button class="ui blue button" type="button" onclick="DealsMvc.moderConfirm(this, '@Model.Id', true)">В пользу автора</button>
        </div>
        <div class="ui error message"></div>
    </form>
}
