
@{
    ViewBag.Title = "Панель модератора";
}
<div class="ui segment">
    <h2 class="ui header">Панель модератора</h2>
    <nav class="ui stackable pointing secondary tabs menu" style="border: none">
        <a class="active item" data-tab="tagunchecked" role="tab">Непроверенные теги</a>
        <a class="item" data-tab="tagchecked" role="tab">Проверенные теги</a>
        <a class="item" data-tab="cities" role="tab">Города</a>
        <a class="item" data-tab="servicetypes" role="tab">Типы услуг</a>
        <a class="item" data-tab="facts" role="tab">Факты</a>
    </nav>
    <div class="ui loading basic segment tab" data-tab="tagunchecked">
        <table class="ui celled table unchecked">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="ui loading basic segment tab" data-tab="tagchecked">
        <button class="ui primary button" onclick="showTagAddModal(this)">Добавить тег</button>
        <div class="ui input">
            <input type="text" oninput="handleTagInput(this.value)" placeholder="Введите тег..." />
        </div>
        <table class="ui celled table checked">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Действие</th>
                    <th>Подтвержден</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="ui loading basic segment tab" data-tab="cities">
        <div class="ui selection dropdown" id="countriesDrop">
            <input name="Country" id="Country" type="hidden" />
            <i class="dropdown icon"></i>
            <div class="default text">Страна</div>
            <div class="menu"></div>
        </div>
        <button class="ui primary button" onclick="showCityAddModal(this)">Добавить город</button>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Регион</th>
                    <th>Федеральный округ</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="ui tab" data-tab="servicetypes" role="tabpanel">
        @{ Html.RenderPartial("AuthorServiceTypes", new Mite.Models.ServiceTypeModel()); }
    </div>
    <div class="ui loading basic segment tab" data-tab="facts">
        <button class="ui primary button" onclick="showFactsAddModal(this)">Добавить</button>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Использован</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script id="tagRowTmpl" type="text/x-jsrender">
    <tr data-id="{{:Id}}" data-name="{{:Name}}" data-confirmed="{{:IsConfirmed}}" data-checked="{{:Checked}}">
        <td data-clipboard-text="{{:Id}}" data-inverted style="cursor: pointer" data-tooltip="Нажмите для копирования">{{:Id}}</td>
        <td>{{:Name}}</td>
        <td>
            {{if !IsConfirmed}}
            <button class="ui margined compact tag-confirm primary button" onclick="TagsApi.confirmTag(this)">Подтвердить</button>
            <button class="ui margined compact blue button" onclick="showTagBindModal('{{:Id}}')">Привязать к другому</button>
            {{/if}}
            <button class="ui margined compact tag-change button" onclick="showTagChangeModal(this)">Изменить</button>
            <button class="ui margined compact tag-del red button" onclick="TagsApi.deleteTag(this)">Удалить</button>
            {{if !Checked}}
            <button class="ui margined compact teal button" onclick="TagsApi.checkTag(this)">Проверить</button>
            {{/if}}
        </td>
        {{if Checked}}
        <td>
            {{if IsConfirmed}}
            Да
            {{else}}
            Нет
            {{/if}}
        </td>
        {{/if}}
    </tr>
</script>
<div class="ui small modal" id="tagModal">
    <div class="header">Изменение тега</div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <input type="text" id="tagNameField" />
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui ok green button">Изменить</div>
        <div class="ui cancel red button">Отмена</div>
    </div>
</div>
<div class="ui small modal" id="tagBindModal">
    <i class="close icon"></i>
    <div class="header">Привязка тегов</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Id старого тега</label>
                    <input type="text" id="oldTagBind" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Id нового тега</label>
                    <input type="text" id="newTagBind" autocomplete="off" />
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui primary button" onclick="TagsApi.bindTag($('#oldTagBind').val(), $('#newTagBind').val())">Привязать</button>
    </div>
</div>
@{ Html.RenderPartial("_CityEdit", new Mite.Models.CityModel()); }
@{ Html.RenderPartial("Facts", new Mite.Models.DailyFactModel()); }
@Scripts.Render("~/bundles/api", "~/bundles/clipboard")
<script>
    function showTagChangeModal(ev) {
        var $tagRow = $(ev).parents('tr');
        $('#tagNameField').val($tagRow.data('name'));
        $('#tagModal .approve.button').html('Изменить');
        $('#tagModal > .header').html('Изменение тега');

        $('#tagModal').modal({
            onApprove: function ($elem) {
                $.ajax({
                    url: '/api/tags',
                    type: 'put',
                    data: {
                        Name: $('#tagNameField').val(),
                        Id: $tagRow.data('id'),
                        IsConfirmed: $tagRow.data('confirmed'),
                        Checked: $tagRow.data('checked')
                    },
                    success: function () {
                        $tagRow.children('td')[0].innerHTML = $('#tagNameField').val();
                    },
                    error: function (jqXhr) {
                        alert('Ошибка во время изменения');
                    }
                });
            }
        }).modal('show');
    }
    function handleTagInput(inputVal) {
        console.log(inputVal);
        $('.tab[data-tab="tagchecked"]>table>tbody tr').each(function (el) {
            console.log(this);
            if (this.dataset.name.search(inputVal) === -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }
    function showTagBindModal(oldTagId) {
        $('#oldTagBind').val(oldTagId);
        $('#tagBindModal').modal('show');
    }
    function showTagAddModal(ev) {
        $('#tagModal .approve.button').html('Добавить');
        $('#tagModal > .header').html('Добавление тега');

        $('#tagModal').modal({
            onApprove: function ($elem) {
                $(ev).addClass('loading').addClass('disabled');

                $.ajax({
                    url: '/api/tags',
                    type: 'post',
                    data: {
                        Name: $('#tagNameField').val()
                    },
                    success: function (data) {
                        $('table.checked > tbody').prepend($.templates('#tagRowTmpl').render(data));
                        $(ev).removeClass('loading').removeClass('disabled');
                    },
                    error: function (jqXhr) {
                        alert('Ошибка во время добавления');
                    }
                });
            }
        }).modal('show');
    }
    $(function () {
        var cityTmpl = $.templates('#citiesRowTmpl');
        $.getJSON('/api/countries', null, function (resp) {
            $('#countriesDrop').dropdown({
                fullTextSearch: true,
                values: resp.map(function (cItem, index) {
                    var item = {
                        value: cItem.Id,
                        name: cItem.Name
                    };
                    if (index === 0)
                        item.selected = true;
                    return item;    
                }),
                onChange: function (val, text) {
                    $.getJSON('/api/cities/' + val, null, function (resp) {
                        $('.tab[data-tab="cities"] tbody').html(cityTmpl.render(resp));
                    })
                }
            });
        });
        $('.moder-panel.item').addClass('active');
        //Грузим таблицы с тегами
        $('.ui.tabs .item').tab({
            history: true,
            historyType: 'hash'
        });
        TagsApi.initModerTags().then(function () {
            new Clipboard('td[data-clipboard-text]');
        });
    });
</script>
