/*chat creating*/
.chat-create-img {
    background: url(/Content/images/svg/camera-white.svg) no-repeat center #b540c6;
    background-size: 50% auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
}
/*.chat-create-img:hover{
}*/
/*chat items*/
.empty-chats{
    text-align: center;
    display: none;
}
.empty-chats.active{
    display: block;
}
.chat-items-wrap .link.chat-add.icon {
    margin: 5px;
    margin-right: 0;
}
.ui.segment.chat-items-wrap{
    padding: 1em 0;
}
.chat-items-outer {
    max-height: 78vh;
    position: relative;
}
.chat-items-outer .ps__rail-y{
    margin: 5px 0;
}
.ui.items.chat-items, .ui.items.public-chat-items{
    margin: 0;
}
.ui.items.chat-items>.item, .ui.items.public-chat-items>.item{
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    transition: all ease-in-out 0.2s;
}
.chat-items .dot-loader-wrapper, .public-chat-items .dot-loader-wrapper {
    height: 20px;
}
.chat-item.item:hover {
    background-color: rgba(148, 48, 163, 0.1);
}
.chat-item.item.active{
    background-color: rgba(148, 48, 163, 0.15);
}
.chat-item .send-date.label{
    transition: all ease-in-out 0.2s;
}
.chat-item:hover .send-date.label {
    background-color: rgba(181,64,198, 0.3);
}
.chat-item.active .send-date.label {
    background-color: rgba(181,64,198, 0.5);
}
.chat-item .remove.icon {
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}
.chat-item:hover .remove.icon, .chat-item.active .remove.icon {
    opacity: 0.8;
}
.chat-item .remove.icon:hover{
    opacity: 1;
}
.ui.items.chat-items > .item .extra, .ui.items.chat-items > .item .description, 
.ui.items.public-chat-items > .item .description {
    margin: 0;
}
.chat-items .ui.tiny.image, .items.chat-members .tiny.image, .chat-followers .items .tiny.image,
.public-chat-items .ui.tiny.image{
    width: 50px;
    height: 50px;
}
.chat-items-wrap > .input{
    margin: 0 10px 5px;
}
.chat-item .ui.label {
    padding: 3px 6px;
}
.chat-item .ui.msg-count.label:not(.active){
    display: none;
}
/*Chat followers*/
.fol-wrap{
    display: flex;
    align-items: center;
}
.add-fol.button{
    height: 36px;
}
/*chat*/
.chat-rollback{
    display: none;
}
@media(max-width: 767px){
    .ui.grid#chatsMainGrid {
        flex-direction: column-reverse;
    }
    .chat-rollback{
        display: inline-block;
    }
}
.ui.segments.chat-wrap {
    margin: 0;
}
.chat-wrap:not(.active), .public-chat-wrap:not(.active) {
    display: none;
}
.segment.chat-header {
    height: 48px;
}
.chat-header .msg-actions {
    display: none;
}
.chat-header .right.aligned.column{
    padding: 10px;
}
.chat-header .chat-menu{
    /*font-size: 1.2em;*/
}
.ui.segment.msg-chat-wrapper{
    height: 64vh;
}
.msg-chat-wrapper .ps__rail-y {
    margin: 10px 0;
}
.chat-header .msg-actions.active{
    display: inline-block;
}
.ui.chat.feed{
    min-height: calc(64vh - 30px);
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}
.chat.feed:not(.public) .event {
    cursor: pointer;
}
.ui.chat.feed>.event>.content{
    margin-top: 0;
    word-break: break-word;
}
.chat.feed>.event .extra.images{
    display: inline-block;
}
.ui.chat.feed>.event .meta{
    display:block;
}
.msg-mark-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-family: Icons;
    font-size: 30px;
    color: rgba(181, 64, 198, 0.5);
    z-index: 1;
    visibility: hidden;
}
.msg-mark-wrap.active {
    color: rgb(181, 64, 198);
    visibility: visible
}
.msg-mark-wrap:after {
    content: "\f058";
}
.chat.feed:not(.public) .event:hover .msg-mark-wrap {
    visibility: visible;
}
.chat.feed .event .images.extra>a{
    cursor: zoom-in;
}
.chat.feed>.event>.content>.meta>a{
    display: block;
    margin-left: 0;
}
/*dialog-area*/
.dialog-area {
    min-height: 40px;
    margin: 0;
    -webkit-appearance: none;
    padding: .78571429em 1em;
    background: #fff;
    border: 2px solid #e8e8e8;
    outline: none;
    color: rgba(0,0,0,.6);
    border-radius: .28571429rem;
    transition: color .3s ease,border-color .3s ease,background-color .3s ease,box-shadow .3s ease;
    font-size: 1em;
    line-height: 1.2857;
}
.dialog-area:focus {
    border-color: #ab30bd;
}

/*attachments*/
#attModal .basic.segment{
    padding-top: 0;
}
.ui.attachments.grid{
    display: none;
    margin: 0;
    margin-bottom: 10px;
}
.ui.attachments.grid .column{
    padding: 0.5rem;
    cursor: pointer;
}
.attachments.grid > .column > .image > img, .attachments.grid > .column > .image,
.attachments.grid > .column > .image > .dimmer {
    border-radius: 4px;
}
.attachments.grid > .column > .image {
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.attachments.grid>.column>.segment>p{
    word-break: break-all;
}
.ui.attachments.grid.active{
    display: flex;
}
/*emoji*/
.ui.emoji.popup .ui.grid .column {
    padding: 5px;
}
img.em-img{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.emoji.popup .tabs.menu{
    min-width: max-content;
    min-width: -moz-max-content;
    font-size: 1em;
}
.emoji.popup .tabs.menu .item {
    padding: 0 10px;
}
.ui.emoji.popup .tab > .grid > .column {
    cursor: pointer;
    border-radius: 2px;
}

.ui.emoji.popup .tab > .grid > .em-col.column:hover {
    background-color: rgba(148, 48, 163, 0.1);
}
.ui.grid>.column.em-col{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ui.emoji.popup .tab {
    padding: 0 10px 0 0;
    margin: 0;
    max-height: 150px;
    position: relative;
}
.ui.emoji.popup .tab > .grid {
    margin: 0;
}
.em-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 220px;
    display: -ms-grid;
    -ms-grid-columns: max-content;
}
.ui.image.onion-img{
    width: 50px;
    height: 50px;
}