.chat-dl.dot-loader-wrapper.active {
  height: auto;
  display: inline-block;
}
.dot-loader-wrapper {
  height: 50px;
  position: relative;
  display: none;
}
.active.dot-loader-wrapper {
  display: block;
}
.chat-dl.dot-loader {
  display: none;
  transform: scale(0.9);
  position: static;
}
.chat-dl.dot-loader.active {
  display: inline-block;
}
.dot-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot-loader .dot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1000ms ease infinite 0ms;
  border-color: #b540c6;
}
.dot-loader .dot:nth-child(2) {
  animation: fx 1000ms ease infinite 300ms;
}
.dot-loader .dot:nth-child(3) {
  animation: fx 1000ms ease infinite 600ms;
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
