body, html{
    min-height: 100%;
}
.grid.main {    
    background-image: url("images/water-back.jpg");
    padding: 140px 0;
}
footer{
    background-color: rgb(109, 103, 136);
    padding-top: 10px;
    width: 100%;
}
footer .ui.grid{
    margin: 0;
}
.logo.image{
    margin-bottom: -60px;
}
article.ui.grid{
}
.content-wrap{
    width: 500px !important;
}
.pusher, body {
    background-color: white !important;
}
input[type="text"],input[type="email"],input[type="password"]{
    font-weight: bold;
}