/*Общее*/
@media only screen and (max-width: 767px){
    header.menu>.container>.computer.only.item, header.menu>.container>.tablet.only.item {
        display: none !important;
    }
}
html, body{
    height: 100% !important;
}
label input[type=file]{
    display: none;
}
.ui.circular.image > img{
    border-radius: 100rem !important;
}
.ui.header>.sub.header {
    overflow: hidden;
}
.header.main.item{
    min-height: 42px;
}
.ui.margined.button,
.ui.margined.buttons {
    margin-bottom: 4px;
}
.ui.vertical.menu{
    width: 100%;
}
.ui.margined.dropdown{
    margin-bottom: 1em;
}
.ui.tab:not(.active){
    display: none;
}
.ui.tab.basic.segment:not(.grid){
    margin: 0;
}
.ui.fixed.menu{
    z-index: 900;
}
.text-right{
    text-align: right;
}
.help.word{
    cursor: help;
}
a.link{
    cursor: pointer;
}
.ui.progress:not([data-percent]){
    display: none;
}
/*Dropdown*/
.ui.dropdown.selection .menu{
    min-width: calc(100% + 4px);
    width: calc(100% + 4px);
    border-width: 2px;
    left: -1px;
    right: 0;
}
/*.ui.dropdown.multiple.selection .menu {
    min-width: calc(100% + 4px);
    width: calc(100% + 4px);
}*/
/*Шапка*/
header.ui.fixed.menu .item>.button{
    padding: 8px 15px;
    margin-right: -10px;
}
/*Тело*/
article{
    margin-bottom: 80px;
}
/*Подвал*/
footer{
    background-color: #6D6788;
    padding-bottom: 10px;
    padding-top : 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Вход и регистрация*/
form.login>.segment, form.register>.segment{
    box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15) !important;
}
@media(max-width: 700px){
    .g-recaptcha {
        transform:scale(0.75);
        transform-origin:0 0;
    }
}
/*"Затемнители" постов*/
.segment .ui.dimmer{
    z-index: 890;
}
.ui.dimmer.center.aligned{
    display: flex;
    align-content: center;
    justify-content: center;
}
.ui.dimmer .meta{
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    width: 50px;
}
.ui.dimmer .right.meta{
    padding-right: 10px;
    padding-left: 0;
}
/*Меню*/
.header.main.item {
    padding: 0 10px;
}
/*Настраиваем сайдбар*/
.ui.right.sidebar{
    overflow-x: visible;
    overflow-y: scroll;
    width: 200px;
}
.side-avatar{
    margin: 10px auto 0;
}
.ui.sidebar .item .ui.label {
    border-radius: 400px;
}
div.center.aligned{
    margin-left: auto;
    margin-right: auto;
}
.acc-header>.ui.header{
    margin-bottom: 10px;
    margin-top: 10px;
}
.ui.sidebar.menu>.item{
    border-left: 3px solid white;
}
.ui.sidebar.menu>.item:hover {
    border-left: 3px solid rgba(0, 0, 0, 0.03);
}
.ui.sidebar.menu>.item.active{
    border-left: 3px solid #b540c6;
}
.main.menu{
    margin: 10px auto !important;
}
.button.fixed.attached.menu-btn{
    top: 80px;
    position: fixed;
}
.button.fixed.attached.menu-btn>.icon.settings{
    margin-right: -10px;
}
article.ui.container{
    margin-top: 60px;
    /*width: 90%;*/
}
.list.layout.icon{
    margin-top: 1px !important;
}
.ui.accordion.item>.title{
    padding: 0;
}
/*.ui.action.input input[type="file"] {
    display: none;
}*/
.logoff.button{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 90%;
}
.pusher{
    background-color: #f4f4f4 !important;
}
/*Уведомления*/
#notify-popup {
    max-height: 500px;
    overflow-y: scroll;
}
.notify.popup > .ui.feed{
    margin: 0;
}
/*Настройки пользователя*/
.dashed.segment {
    border: 2px dashed #6d6788;
    box-shadow: none;
    padding: 20px;
    cursor: pointer;
    display: block;
}
/*Страница пользователя*/
.ui.avatar.button{
    transition: all 0.1s ease-in-out;
}
.ui.huge.avatar.icon.button{
    margin: 0;
} 
.ui.avatar.button:hover{
    transform: scale(1.1, 1.1);
}
.ui.tab.basic.segment{
    margin: -1rem !important;
}
.tab[data-tab="posts"] > .tabs.menu > .item{
    padding: 20px;
}
.tab[data-tab="posts"] > .tabs.menu{
    display: flex;
    justify-content: center;
}
.secondary.labeled.menu .item {
    color: #6D6788 !important;
}
.secondary.labeled.menu .item.active, .secondary.labeled.menu .item:hover{
    background-color: #6D6788 !important;
    color: white !important;
}
@media(min-width: 767px){
    .ui.profile.segment {
        margin-top: 130px;
    }
}
input[type="text"],input[type="email"],input[type="password"]{
    font-weight: bold;
}
.segment.post-item:hover, .segment.service-item:hover{
    margin-top: -2px;
}
.post-item .extra.content, .service-item .extra.content {
    font-weight: bold;
    color: rgba(0,0,0,0.4);
}
.extra.content .right{
    float: right;
}
.ui.profile.segment .menu .item.active{
    color: rgb(181,64,198);
}
.ui.profile.image .ui.image{
    border-radius: 5px;
}
.profile-post {
    z-index: 1000;
}
.profile-post .image, .profile-post .dimmer, .profile-post{
    border-radius: 5px;
}
/*Формы*/
.ui.form:not(.m-success) .ui.m-success.message,
.ui.form.error .ui.m-success.message {
    display: none;
}
/*Соц. кнопки*/
.ui.artstation.button{
    background-color: #171717;
    height:36px;
    top: 2px;
    position: relative;
}
.ui.artstation.button:hover{
    background-color: #050505;
}
.ui.icon.circular.button>img{
    width: 14px;
    height: 14px;
}
.ui.dribbble.button{
    background-color: #ea4c89;
    color: white;
}
.ui.dribbble.button:hover{
    background-color: #c32361;
}
/*Редактор*/
.ct-control--rotate-ccw, .ct-control--rotate-cw, .ct-control--crop{
    display: none !important;
}
.poem p {
    text-align: center;
}
[data-editable] {
    padding: 0 10px;
    overflow: hidden;
    clear: both;
}
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

[data-editable] .align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

[data-editable] .text-center {
    text-align: center;
}
[data-editable] .text-right {
    text-align: right;
}
[data-editable] .text-left {
    text-align: left;
}
.ct-ignition__button--edit {
    background-color: #b540c6 !important;
}
.edit.post.segment {
    margin-left: auto;
    max-width: 1100px;
    margin-right: auto;
}
/*Страница поста*/
img.collection-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img#post-content{
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    max-height: 800px;
}
#post-content{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.responsive.modal{
    display: inline-block !important;
    max-width: 90%;
}
@media only screen and (max-width: 767px){
    #postAvatarWrapper img{
        border-radius: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*Галерея изображений при показе поста*/
.gallery .go.button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 900;
}
@media only screen and (max-width: 767px){
    .gallery .go.button{
        top: 20px;
    }
}
.gallery.image.content{
    padding:0;
}
.gallery .btn{
    width: 150px;
    height: 100%;
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    z-index: 1100;
    color: white;
    transition: color 0.3s ease-out;
}
.gallery img{
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-select: none;
}
.gallery .btn:hover{
    color: #b540c6;
}
.gallery .prev{
    left: 0;
}
.gallery .next{
    right: 0;
}
.gallery .btn .icon{
    position: absolute;
    bottom: 40%;
    transform: translateX(-50%) translateY(-50%);
    left: 45%;
}
/*#post-image-modal{
    box-shadow: none;
    background-color: transparent;
    font-size: 20px;
}*/
#post-image-modal .image.content{
    background-color: transparent;
}

/*Уведомления*/
.segment.feed.tab{
    display: none;
}
.active.segment.feed.tab{
    display: block;
}
#feedsFilter{
    width: 100%;
}
/*Страница помощи*/
p.docs{
    margin: 1em 0;
}
/*Топ публикаций*/
.loader-wrapper{
    z-index: 2000;
    position: fixed;
    left: 50%;
    top: 150px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 10px rgba(34, 36, 38, 0.35);
    display: none;
}
#searchItem{
    transition: all .3s ease-out;
}
#searchItem.maximised{
    flex-grow: 1;
}
#searchItem.maximised:before{
    content: none;
}
.post-item.dimmed.hide-adult-content a.content>p, 
.post-item.dimmed.hide-adult-content a>img.ui.image:not(.avatar){
    filter: blur(10px);
}
.active.loader-wrapper{
    display: block;
}
.loader-wrapper>.ui.loader:after{
    border-color: #6D6788 transparent transparent !important;
}
.posts.grid.basic.segment{
    margin: -1rem;
}
.post-item .img-content{
    position: relative;
}
.post-item .img-content .gif-wrapper{
    display: none;
}
.post-item .img-content .gif-wrapper.active{
    display: block;
}

.post-item .img-content .gif-wrapper>.button{
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
}
.post-item .img-content .gif-wrapper>.button:hover{
    transform: translate(-50%, -50%) scale(1.1, 1.1);
}
.post-item .img-content .gif-wrapper>.label{
    position: absolute;
    right: 5px;
    top: 0;
}
.segment.post-item .dimmer{
    z-index: 10;
}
.post-content.content{
    min-height: 100px;
}
.post-item .content{
    color: rgba(0,0,0,0.87);
}
.segment.post-item.invert{
    background-size: cover !important;
}
.post-item .ui.invert.label{
    background-color: violet !important;
}
.post-item.invert .content{
    color: rgba(255,255,255,0.87);
}
.post-item.invert a.username{
    color: wheat;
}
.post-item.invert a.username:hover{
    color: wheat;
}
.post-item .ui.label{
    margin-top: 5px;
}
/*Мини карточка пользователя в топе*/
.user-card.popup .user-info.column{
    padding-left: 0
}
.user-card.popup .statistics.row{
    padding-top: 0;
}
/*Карточка подписчика/подписки*/
.post-item .sub.header, .follower-card{
    overflow-x: hidden;
}
.follower-card .ui.header{
    word-break: break-all;
}
.ui.grid.follower-card>.column:first-child{
    padding-right: 0;
}
/*Кнопка скроллинга*/
.ui.button.scroll{
    position: fixed;
    display: none;
    transition: display ease-in-out 0.1s;
}
.ui.button.scroll.active{
    display: block;
}
/*Услуги*/
.ui.dropdown#deadlineDropdown, .ui.selection.deadline.dropdown {
    min-width: 100px;
}