@{
    ViewBag.Title = "Админ панель";
}
@section styles{
    <style>
        body, .pusher{
            background-color: white !important;
        }
    </style>
}

<nav class="ui stackable pointing secondary tabs menu" style="border: none" role="tablist">
    <a class="active item" data-tab="moderregister" role="tab">Добавление модератора</a>
    <a class="item" data-tab="extapps" role="tab">Авторизовать приложения</a>
    <a class="item" data-tab="statistic" role="tab">Статистика</a>
</nav>
<div class="ui active tab" data-tab="moderregister" role="tabpanel">
    @{Html.RenderAction("ModerRegister");}
</div>
<div class="ui tab" data-tab="extapps" role="tabpanel">
    <form action="https://money.yandex.ru/oauth/authorize" method="post">
        <input type="hidden" name="client_id" value="@Mite.Constants.YaMoneySettings.ClientId" />
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="redirect_uri" value="@Mite.Constants.YaMoneySettings.RedirectUri" />
        <input type="hidden" name="scope" value="account-info payment-p2p" />
        <button type="submit" class="ui primary button">Авторизовать Яндекс.Деньги</button>
    </form> 
    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=@Mite.Constants.GoogleApiSettings.ClientId&redirect_uri=http://@Request.Url.Host/google/authorize&response_type=code&scope=https://www.googleapis.com/auth/adsense.readonly&access_type=offline">
        Авторизовать GoogleAdSense
    </a>
</div>
<div class="ui tab" data-tab="statistic" role="tabpanel">
    @{Html.RenderAction("Statistic");}
</div>
<script>
    $(function () {
        $('.admin-panel.item').addClass('active');
        $('.ui.tabs .item').tab({
            history: true,
            historyType: 'state',
            path: '/user/settings'
        });
        var tabs = new MiteTab('.ui.tabs .item', '/admin/');
    });
</script>

