@{
    ViewBag.Title = "Админ панель";
}
@section styles{
    <style>
        body, .pusher{
            background-color: white !important;
        }
    </style>
}

<nav class="ui stackable pointing secondary tabs menu" style="border: none">
    <a class="active item" data-tab="moderregister">Добавление модератора</a>
    <a class="item" data-tab="extapps">Авторизовать приложения</a>
</nav>
<div class="ui active tab" data-tab="moderregister">
    @Html.Action("ModerRegister")
</div>
<div class="ui tab" data-tab="extapps">
    <form action="https://money.yandex.ru/oauth/authorize" method="post">
        <input type="hidden" name="client_id" value="@Mite.Constants.YaMoneySettings.ClientId" />
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="redirect_uri" value="@Mite.Constants.YaMoneySettings.RedirectUri" />
        <input type="hidden" name="scope" value="account-info payment-p2p" />
        <button type="submit" class="ui primary button">Авторизовать Яндекс.Деньги</button>
    </form> 
    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=@Mite.Constants.GoogleApiSettings.ClientId&redirect_uri=http://@Request.Url.Host/google/authorize&response_type=code&scope=https://www.googleapis.com/auth/adsense.readonly&access_type=offline">
        Авторизовать GoogleAdSense
    </a>
    @*<form action="https://accounts.google.com/o/oauth2/v2/auth" method="get">
        <input type="hidden" name="client_id" value="" />
        <input type="hidden" name="redirect_uri" value="http://@Request.Url.Host:@Request.Url.Port/google/authorize" />
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="scope" value="https://www.googleapis.com/auth/adsense.readonly" />
        <input type="hidden" name="access_type" value="offline" />
        <button type="submit" class="ui primary button"></button>
    </form>*@
</div>
<script>
    $(function () {
        $('#adminPanelItem').addClass('active');
        var tabs = new MiteTab('.ui.tabs .item', '/admin/');
    });
</script>

