@model IEnumerable<Mite.Models.AdminUserReviewModel>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Отзыв</th>
            <th>Пользователь</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var review in Model)
        {
            <tr>
                <td>@review.Review</td>
                <td>@Html.ActionLink(review.User.UserName, "Index", "UserProfile", new { name = review.User.UserName }, null)</td>
            </tr>
        }
    </tbody>
</table>
