<div class="ui basic modal" id="confirmPostDelete">
    <div class="ui icon header">
        <i class="remove circle icon"></i>
        Удалить работу
    </div>
    <div class="content" style="text-align: center">
        <p>Вы уверены? Данное действие будет невозможно отменить</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Нет
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Да
        </div>
    </div>
</div>
