@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокирован доступ";
}

<hgroup>
    <h1 class="ui header">Аккаунт заблокирован.</h1>
    <h2 class="ui header">Ваш аккаунт временно заблокирован, попробуйте войти позже.</h2>
</hgroup>
