<div class="ui modal" id="publishGuideModal">
    <i class="close icon"></i>
    <div class="header">
        Гайд по публикации работ.
    </div>
    <div class="scrolling content">
        <h3>Зачем мне это?</h3>
        <p>
            Многие авторы не знают особенностей работы системы MiteGroup (наша ошибка),
            из-за чего не используют весь функционал. Этот гайд призван раз и навсегда пресечь все недопонимания.
        </p>
        <h3>Заголовок</h3>
        <p>
            В заголовке указывается основная тема работы. Если у вас нарисован котик, то следует указывать "кот",
            если работа об известной личности/группе указываете её имя, и т.д. Ещё одна причина не лениться -
            появление в результатах поисковых систем.
        </p>
        <h3>Описание</h3>
        <p>
            Описание подробно раскрывает содержимое работы. Зачастую пользователи пишут всю информацию в теги
            (даже бренды и названия, несмотря на предупреждения). Достаточно взглянуть на следующий скриншот:
        </p>
        <img src="~/Public/guides/image_guide_1.png" alt="Скриншот гайд 1." style="max-width: 100%;" />
        <h3>А для чего тогда теги?</h3>
        <p>
            Каждый раз как вы заходите в топ работ, можно увидеть список слов, которые представляют собой разделы. Мы отказались от чего-то вроде
            "арт > цифровой арт > вектор" и пр., объединив всё в одно. Позволяя людям добавлять теги, мы избавлялись от рутинной работы,
            но в итоге многие начали добавлять слепки вроде "артвгорах". <b>Профессиональную же лексику можно и нужно писать в теги.</b>.
        </p>
        <h3>И в заключение...</h3>
        <p>
            Как видите, "Заголовок" и "Описание" могут превратиться в мощный инструмент для поднятия позиций ваших работ в поиске.
            Прежде чем создать публикацию, просто достаточно задать себе вопрос "А что пользователь напишет в поиск, чтобы найти мою работу?",
            все остальное - забота MiteGroup &#128521;
        </p>
    </div>
</div>
