@using Mite.Core
@model Mite.Models.YaPayOutModel

@using(Html.BeginForm("PayOutYandex", "Payments", FormMethod.Post, new { @class = "ui form", id = "yaPayOutForm" }))
{
    @Html.EditorFor(x => x.PayOutSum)
    @Html.AntiForgeryToken()
    <button type="button" class="ui blue button" onclick="PaymentsApi.yandex.payOut()" data-tooltip="2% комиссия в т.ч." data-position="right center">Вывести</button>
    <div class="ui error message" id="yaPayOutMsg"></div>
}
<script>
    $(function(){
        $('#yaPayOutForm').form({
            fields: {
                PayOutSum: {
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Заполните сумму'
                        },
                        {
                            type: 'integer',
                            prompt: 'Введите целочисленное значение'
                        }
                    ]
                }
            }
        });
    });
</script>
