@model string
@{
    ViewBag.Title = "Переход на внешний сайт";
}

<div class="ui segment">
    <h3 class="ui header">Переход по внешней ссылке</h3>
    <p>
        Вы переходите по ссылке <a href="@Model">@Model</a>, которая <b>не является подтвержденной</b>.
        Это значит, что она либо не проверена, либо проверена и не является безопасной.
    </p>
    <p>
        Перейти по ссылке <a href="@Model">@Model</a>
    </p>
</div>

