
@{
    ViewBag.Title = "Ваш браузер не поддерживает JavaScript.";
}

<div class="ui segment">
    <h2 class="ui centered header">Для корректной работы сайта необходима поддержка JavaScript.</h2>
</div>

