
@{
    ViewBag.Title = "Помощь";
}

<div class="ui segment">
    <h2 class="ui header">
        <i class="violet help icon"></i>
        <span class="content">
            Помощь
        </span>
    </h2>
    <h3 class="ui header">О нас</h3>
    <p class="docs">Мы группа энтузиастов, одержимые идеей создать в рунете родной уголочек для творческих личностей, будь они заинтересованы в живописи, в поэзии, в дизайне и графике или же они начинающие писатели aka молодой Федор Достоевский!</p>
    <h3 class="ui header">Как присоединится к нашему проекту?</h3>
    <p class="docs">Вы должны зарегистрироваться на нашем сервисе указав свой E-mail. После регистрации к вам на электронную почту придет письмо с дальнейшими инструкциями.</p>
    <img src="~/Public/help/register.png" class="ui centered image" />
    <h3 class="ui header">Мой профиль</h3>
    <p class="docs">На вашей странице показаны кол-во ваших работы(публикации), подписчики и рейтинг вашего аккаунта.</p>
    <img src="~/Public/help/profile.png" class="ui centered image" />
    <p class="docs">Справа верхнем углу находятся Меню. Щелкнув по нему откроется сайдбар справа. Оттуда вы можете добавлять посты для дальнейшей публикации, следить за вашими уведомлениями, зайти в настройки вашего профиля или же выйти с вашего аккаунта. Настройки содержат в себе такие функции, как изменение вашего профиля, загрузка изображения для аватара, смена и подтверждение E-mail и номер вашего кошелька.</p>
    <div class="ui grid">
        <div class="row">
            <div class="six wide column"><img src="~/Public/help/sidebar.png" class="ui centered image" /></div>
            <div class="ten wide column"><img src="~/Public/help/settings.png" class="ui centered image" /></div>
        </div>
    </div>
    <h3 class="ui header">Публикации постов</h3>
    <p class="docs">Можно публиковать на нашем сервисе свои творческие работы, будь это ваши рисунки, стихи, истории, или даже целые книги. Сайт интуитивно очень удобен и понятен в освоении.</p>
    <p class="docs"><b>Важно!</b> Добавленные посты сохраняются в ваших черновиках. Чтобы опубликовать свой пост, пройдите в свои черновики и дерзайте!</p>
    <img src="~/Public/help/addwork.png" class="ui centered image" />
    <p class="docs">Если у вас душа лежит писать стихи, истории, фанфики, да хоть целые книги – тогда вам к нам! Опубликуйте ваш шедевр у нас и остальные его непременно оценят. У нас на сайте есть такая фича, как inline (пишешь прямо на странице) редактор. По функционалу он ничем не уступает другим, а понятный и удобный интерфейс редактора поможет вам быстро освоится и с легкостью творить свои шедевры!</p>
    <img src="~/Public/help/adddoc.jpg" class="ui centered image" />
    <h3 class="ui header">Теги</h3>
    <p class="docs">Как видно на скрине выше, у тегов есть автодополнение. Тем не менее вы можете добавить и свои теги. При необходимости модератор добавит ваши теги в автодополнение, или, при необходимости, удалит или изменит название.</p>
    <h3 class="ui header">Пожертвования</h3>
    <p class="docs">Проникся творчеством определенной личности? Хочешь увидеть продолжения истории? Есть желание поддержать автора? Тогда наша удобная система денежных пожертвований тебе в помощь! </p>
    <img src="~/Public/help/donate.png" class="ui centered image" />
</div>