
@{
    ViewBag.Title = "Политика конфиденциальности";
}
@section styles{
    <style>
        ol {
            counter-reset: item;
        }

        li {
            display: block;
        }

            li:before {
                content: counters(item, ".") ". ";
                counter-increment: item;
            }
    </style>
}
<div class="ui segment">
    <h2 class="ui dividing header">Политика конфиденциальности</h2>
    <p>
        Использование Сайта MiteGroup означает безоговорочное согласие Пользователя с
        настоящей Политикой и указанными в ней условиями обработки его персональной информации;
        в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.
    </p>
    <h3 class="ui header">Персональная информация Пользователей, которую обрабатывает Сайт</h3>
    <ol>
        <li>
            В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
            <ol>
                <li>
                    Персональная информация, которую Пользователь предоставляет 
                    о себе самостоятельно при регистрации (создании учётной записи), включая персональные данные Пользователя. 
                </li>
                <li>
                    Данные, которые автоматически передаются Сайту MiteGroup в процессе 
                    их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, 
                    данные файлов cookie, информация о браузере Пользователя , технические характеристики оборудования и программного обеспечения, 
                    используемых Пользователем, дата и время доступа к Сайту, адреса запрашиваемых страниц и иная подобная информация.
                </li>
                <li>
                    Иная информация о Пользователе, обработка которой предусмотрена условиями использования Сайтом.
                </li>
            </ol>
        </li>
        <li>
            Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сайтом MiteGroup. 
            Администрация не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь 
            может перейти по ссылкам, доступным на Сайте MiteGroup.
        </li>
        <li>
            Администрация не проверяет достоверность персональной информации, предоставляемой Пользователем, 
            и не имеет возможности оценивать его дееспособность. Однако Администрация исходит из того, что пользователь предоставляет 
            достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии.
        </li>
        <li>
            В отношении персональной информации Пользователя сохраняется ее конфиденциальность, 
            кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. 
            При использовании отдельных Сервисов, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
        </li>
    </ol>
    <h3 class="ui header">Цели обработки персональной информации Пользователей</h3>
    <ol>
        <li>
            MiteGroup собирает и хранит только ту персональную информацию, 
            обеспечения функциональности Сайта или исполнения соглашений и договоров с Пользователем, за исключением случаев, 
            когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
        </li>
        <li>
            Персональную информацию Пользователя MiteGroup обрабатывает в следующих целях:
            <ol>
                <li>
                    предоставление Пользователю персонализированных Сервисов и исполнение соглашений и договоров;
                </li>
                <li>
                    связь с Пользователем, в том числе направление уведомлений, запросов и информации, 
                    касающихся использования Сайта, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя;
                </li>
                <li>
                    улучшение качества Сайта, удобства его использования;
                </li>
                <li>
                    таргетирование рекламных материалов;
                </li>
                <li>
                    проведение статистики на основе обезличенных данных.
                </li>
            </ol>
        </li>
    </ol>
    <h3 class="ui header">Передача информации третьим лицам</h3>
    <p>MiteGroup может передать персональную информацию Пользователя третьим лицам в следующих случаях:</p>
    <ol>
        <li>
            Пользователь выразил согласие на такие действия;
        </li>
        <li>
            передача необходима для использования Пользователем Сайта либо для
            исполнения определенного соглашения или договора с Пользователем;
        </li>
        <li>
            при использовании Пользователем сервисов и услуг компании ООО НКО «Яндекс.Деньги» (ОГРН: 1127711000031)
            персональная информация Пользователя может передаваться в ООО НКО «Яндекс.Деньги» для обработки на условиях и для целей,
            определённых в Соглашении об использовании сервиса «Яндекс.Деньги» (https://money.yandex.ru/doc.xml?id=522764) и
            Политике Конфиденциальности ООО НКО «Яндекс.Деньги» (https://money.yandex.ru/doc.xml?id=525698);
        </li>
        <li>
            передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
        </li>
        <li>
            в целях обеспечения возможности защиты прав и законных интересов MiteGroup или
            третьих лиц в случаях, когда Пользователь нарушает Правила пользования Cайтом Mitegroup;
        </li>
        <li>
            в результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные,
            которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению MiteGroup;
        </li>
        <li>
            при обработке персональных данных Пользователей MiteGroup руководствуется Федеральным законом РФ «О персональных данных».
        </li>
    </ol>
    <h3 class="ui header">Изменение и удаление персональной информации</h3>
    <ol>
        <li>
            Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть.
        </li>
        <li>
            Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию.
        </li>
    </ol>
    <h3 class="ui header">Файлы Cookie</h3>
    <ol>
        <li>
            Файлы cookie, передаваемые MiteGroup оборудованию Пользователя и оборудованием Пользователя MiteGroup, 
            могут использоваться Сайтом для предоставления Пользователю персонализированных Сервисов, 
            для таргетирования рекламы, которая показывается Пользователю, в статистических и исследовательских целях.
        </li>
        <li>
            MiteGroup вправе установить, что
             предоставление определенного Сервиса возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.
        </li>
        <li>
            Структура файла cookie, его содержание и 
            технические параметры определяются Сайтом и могут изменяться без предварительного уведомления Пользователя.
        </li>
    </ol>
</div>