
@{
    ViewBag.Title = "Условия пользования Сайтом";
}
@section styles{
    <style>
        ol{
            counter-reset: item;
        }
        li{
            display: block;
        }
        li:before{
            content: counters(item, ".") ". "; 
            counter-increment: item;
        }
    </style>
}
<div class="ui segment">
    <h2 class="ui dividing header">Условия пользования Сайтом</h2>
    <p>
        Рады приветствовать Вас на Cайте MiteGroup, интернет-ресурс,
        который помогает начинающим авторам, художникам (или пользователям с любым другим проявлением творчества) реализовывать себя и совершенствоваться.
        Сайт MiteGroup (Сервисы MiteGroup) – это сервис, объединяющий разных людей, проявляющих своё творчество в разных аспектах.
    </p>
    <p>
        Администрация Сайта предоставляет Вам доступ к использованию Cайта MiteGroup на условиях,
        являющихся предметом настоящих Условий пользования Cайтом MiteGrop.
        В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил,
        которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
    </p>
    <h3 class="ui header">Термины</h3>
    <ol>
        <li>
            Сайт MiteGroup – сервис, известный под именем «MiteGroup», размещенный на Сайте в сети Интернет по адресу: mitegroup.ru
            (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и
            вводимые в эксплуатацию в течение всего срока его действия). В зависимости от контекста подразумевает пользовательский интерфейс и
            совокупность технических средств, обеспечивающих работу интернет-ресурса и/или его Администрацию.
        </li>
        <li>
            Пользователь (Вы) - лицо, любым образом использующее Сайт.
        </li>
        <li>
            Администрация - если нет уточнений, администрация Сайта MiteGroup.
        </li>
        <li>
            Публикация - опубликованная Пользователем работа на Сайте.
        </li>
        <li>Ник - имя, выбранное Пользователем при регистрации для Публикации или добавлении работ, 
        а также для совершения любых других действий, доступных лишь зарегистрированным Пользователям.</li>
        <li>Бюджет Пользователя - виртуальные средства Пользователя в MiteGroup, пополняющиеся Пользователем с помощью денежных средств или любым другим способом.</li>
        <li>Теги - ключевые слова, который может добавлять Пользователь к публикуемой работе в ограниченном количестве.</li>
    </ol>
    <h3 class="ui header">Общие положения</h3>
    <ol>
        <li>
            Перед началом использования Сайта, Вы должны внимательно изучить данный документ.
            Если какие-то положения настоящих Условий использования Вас не устраивают, Вы должны незамедлительно покинуть Сайт.
        </li>
        <li>
            Вы используете технические возможности Сайта по прямому назначению – для размещения Публикаций, общения с другими Пользователями и т.д.
            Любые злоупотребления предоставленными техническими возможностями считаются нарушением Условий пользования.
        </li>
        <li>
            Сайт может отправлять Пользователю сообщения на непериодической основе, если того требует повышение безопасности Пользователя или алгоритмы работы Сервисов.
        </li>
        <li>
            Вы согласны соблюдать правила размещения материалов и пользования ресурсом,
            которые публикуются от лица Администрации в соответствующих разделах.
        </li>
        <li>
            В случае нарушения Условий, или правил в соответствующих разделах Сайта,
            Администрация может принимать меры по ограничению доступа к Сайту и другие меры, которые сочтет уместными и адекватными.
        </li>
        <li>
            Администрация имеет право по своему усмотрению:
            <ol>
                <li>удалять, перемещать, редактировать любые Публикации или комментарии;</li>
                <li>ограничивать в правах или блокировать(вносить в черный список) любую учетную запись;</li>
            </ol>
        </li>
        <li>
            Технические возможности Сайта, включая алгоритмы, пользовательские интерфейсы, способы презентации Публикаций и другой информации,
            механизмы оповещения, функциональные возможности, ограничения любого рода и иные технические, визуальные или организационные решения для Сайта,
            могут быть в любом объеме изменены, удалены или дополнены без уведомления.
        </li>
    </ol>
    <h3 class="ui header">Обязанности и ответственность Пользователя</h3>
    <ol>
        <li>
            Пользователю запрещается:
            <ol>
                <li>
                    размещать скрытую или явную рекламу без согласования с Администрацией. Запрещено создание Публикаций,
                    основной целью которых является анонс, реклама или привлечение трафика на сторонние ресурсы;
                </li>
                <li>
                    повышать рейтинг любым способом, который, по мнению Администрации, является недобросовестным;
                </li>
                <li>
                    использовать программное обеспечение и осуществлять действия,
                    направленные на нарушение нормального функционирования Сайта или персональных страниц Пользователей;
                </li>
                <li>
                    любым способом пытаться получить доступ к логину и паролю другого Пользователя;
                </li>
                <li>
                    осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный Администрацией Сайта;
                </li>
                <li>
                    публиковать или распространять информацию, которая нарушает права и интересы граждан и юридических лиц, требования законодательства Российской Федерации;
                </li>
                <li>
                    регистрировать несколько аккаунтов(учетных записей);
                </li>
                <li>
                    распространять спам;
                </li>
                <li>
                    публиковать материалы, признанные экстремистскими, содержащие призывы к насилию и пр.;
                </li>
                <li>
                    осуществлять любую деятельность, которая может нарушать законы Российской Федерации;
                </li>
                <li>
                    оскорблять, унижать честь и достоинство других Пользователей;
                </li>
                <li>
                    добавлять и публиковать работы без согласия их авторов или правообладателей. 
                    В случае создания работы в соавторстве, его публикация на Сайте допускается только с согласия всех его соавторов.
                </li>
            </ol>
        </li>
        <li>
            Пользователь несёт личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям,
            а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.
        </li>
        <li>
            Вы подтверждаете, что Ваши логин, e-mail, и пароль защищены от неправомерного доступа и согласны, что все действия,
            совершенные с их использованием, считаются совершенными лично Вами.
        </li>
        <li>
            При размещении работ на Сайте MiteGroup, пользователь должен соблюдать законодательство в области авторских прав,
            в частности Часть 4 Гражданского Кодекса РФ:
            быть законным правообладателем этих работ, либо иметь разрешение от законных правообладателей на их размещение.
        </li>
        <li>
            По всем возможным нарушениям авторских прав, Пользователь несёт самостоятельную ответственность перед третьими лицами.
        </li>
        <li>
            Использование чужого авторского контента осуществляется в соответствии с лицензией 
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ru">Creative Commons: Attribution-NonCommercial-NoDerivatives 4.0</a>.
        </li>
        <li>
            При публикации работ на Сайте Пользователь предоставляет Сайту и администрации Сайта неисключительное право на 
            распространение и публикацию содержимого работ (ст. 1270 ГК РФ).
        </li>
        <li>
            При добавлении Тегов Пользователь должен руководствоваться следующими пунктами:
            <ol>
                <li>
                    теги должны ясно и достаточно точно отображать смысл Публикации;
                </li>
                <li>
                    запрещено добавлять Теги, смысл которых абсолютно не подходит к Публикации (примером может являться добавление Тега "арт" к работе с литературным произведением);
                </li>
                <li>
                    администраторский и модераторский состав имеет право добавлять, удалять, 
                    редактировать любые Теги(Теги Публикаций в том числе) на своё усмотрение.
                </li>
            </ol>
        </li>
    </ol>
    <h3 class="ui header">Ограничение ответственности</h3>
    <ol>
        <li>
            Все сервисы предлагается на условиях "как есть", без гарантий какого-либо рода.
            MiteGroup заявляет об отказе от ответственности, за какой-либо прямой, непрямой, особый или иной косвенный ущерб, или любую упущенную выгоду вследствие применения любых сервисов Сайта.
            Вы используете технические возможности, предлагаемые Сайтом, на свой страх и риск и принимаете на себя всю ответственность за свои действия.
        </li>
        <li>
            MiteGroup не дает никаких гарантий, в том числе, доступности, непрерывности, постоянности, сохранности информации, отсутствия ошибок,
            достоверности, точности и т.д. в отношении любых сервисов или публикуемой информации.
        </li>
        <li>
            Администрация не несёт никакой ответственности за содержимое Публикаций и других материалов.
        </li>
    </ol>
</div>