@using System.Reflection
@using Mite.Attributes.DataAnnotations

@model byte?

@{
    var customAttribute =
        (ViewData.ModelMetadata)
        .ContainerType
        .GetProperty(ViewData.ModelMetadata.PropertyName)
        .GetCustomAttribute<UIDataAttribute>(inherit: false);

    var list = customAttribute.SelectListItems;
    foreach (var selectListItem in list)
    {
        if (Model.ToString() == selectListItem.Value)
        {
            selectListItem.Selected = true;
        }
    }
    var inline = ViewData["Inline"] != null && (bool)ViewData["Inline"] == true;
}


<label>@Html.DisplayName("")</label>
<div class="@Html.Raw(inline ? "inline" : "grouped") fields">
    @foreach (var item in list)
    {
        <div class="field">
            <div class="ui radio checkbox">
                @Html.RadioButton("", item.Value, item.Selected)
                @Html.Label("", item.Text)
            </div>
        </div>
    }
</div>

