@model string

<div class="field">
    @if (ViewData["WithLabel"] as bool? == true)
    {
        @Html.Label("")
    }
    @Html.TextArea("", Model, new { placeholder = Html.DisplayName("") })
</div>
