
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница не найдена</title>
    @Styles.Render("~/Content/semantic")
    <style>
        body{
            background: url("/Content/images/water-back.jpg"), round;
        }
        .ui.grid{
            height: 100%;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/main")
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <img src="~/Content/images/404err.png" />
        </div>
    </div>
</body>
</html>
