@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/semantic", "~/Content/css")
    <style>
        body {
            background: #b540c6;
        }

        html {
            height: 90%;
        }

        body, .error {
            height: 100%;
        }

        .error {
            vertical-align: middle;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="error">
        <h1 class="ui icon inverted header"><i class="meh icon"></i>@ViewBag.ErrorText</h1>
    </div>
</body>
</html> 